.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #eee;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}